$bg-color-1: #eee;
$bg-color-2: #fff;
$action-word-color: cornflowerblue;
$item-color: green;
$environment-color: purple;
$direction-button-color: #5DBB73;
$page-background-color: #558090;

html {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $page-background-color;
    min-height: 100%;
}

.pure-g > div {
    box-sizing: border-box;
}

.main-container {
    max-width: 1500px;
    margin: auto;
    background-color: $bg-color-1;
    background-image: 
    radial-gradient(circle at 100% 150%, $bg-color-1 24%, $bg-color-2 25%, $bg-color-2 28%, $bg-color-1 29%, $bg-color-1 36%, $bg-color-2 36%, $bg-color-2 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $bg-color-1 24%, $bg-color-2 25%, $bg-color-2 28%, $bg-color-1 29%, $bg-color-1 36%, $bg-color-2 36%, $bg-color-2 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $bg-color-2 10%, $bg-color-1 11%, $bg-color-1 23%, $bg-color-2 24%, $bg-color-2 30%, $bg-color-1 31%, $bg-color-1 43%, $bg-color-2 44%, $bg-color-2 50%, $bg-color-1 51%, $bg-color-1 63%, $bg-color-2 64%, $bg-color-2 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $bg-color-2 5%, $bg-color-1 6%, $bg-color-1 15%, $bg-color-2 16%, $bg-color-2 20%, $bg-color-1 21%, $bg-color-1 30%, $bg-color-2 31%, $bg-color-2 35%, $bg-color-1 36%, $bg-color-1 45%, $bg-color-2 46%, $bg-color-2 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $bg-color-2 5%, $bg-color-1 6%, $bg-color-1 15%, $bg-color-2 16%, $bg-color-2 20%, $bg-color-1 21%, $bg-color-1 30%, $bg-color-2 31%, $bg-color-2 35%, $bg-color-1 36%, $bg-color-1 45%, $bg-color-2 46%, $bg-color-2 49%, transparent 50%, transparent);
    background-size: 70px 35px;
    min-height: 100%;
}

.top-spacer {
    height: 60px;    
}

.side-margin {
    background-color: $page-background-color;
}

.container {
    border: 1px solid #999;
    border-radius: 10px;
    margin: 5px 5px;
    background-color: #fff;
    
    .container-header {
        font-size: 1em;
        background-color: $page-background-color;
        color: #fff;
        border-radius: 5px 5px 0 0;
        padding: 5px;
    }
}

.room-container {
    // height: 200px;
    
    .room-content {
        display: flex;
    }
    
    .room-text {
        padding: 10px;
        span {
            letter-spacing: normal;
        }
    }
    
    .room-map {
        padding: 10px;
    }
    
    .room-keyword {
        color: $item-color;
        cursor: pointer;
        font-weight: bold;
    }
    
    .room-cube {
        position: relative;
        border: 2px solid #777;
        width: 80px;
        height: 80px;
        letter-spacing: normal;
        
        .direction-button {
            position: absolute;
            font-size: 1.5em;
            color: $direction-button-color;
            cursor: pointer;
        }
        
        .direction-up {
            top: 5px;
            left: 50%;
            transform: translate(-50%, 0);
        }
        
        .direction-down {
            bottom: 5px;
            left: 50%;
            transform: translate(-50%, 0);
        }
        
        .direction-left {
            top: 50%;
            left: 5px;
            transform: translate(0, -50%);
        }
        
        .direction-right {
            top: 50%;
            right: 5px;
            transform: translate(0, -50%);
        }
    }
}

.log-container {
    height: 200px;
    
    .log-content {
        overflow-y: scroll;
        height: 160px;
        font-size: 0.9em;
    }
    
    .log-header {
        font-weight: bold;
        margin: 5px;
    }
    
    .log-entry-text {
        margin: 5px;
    }
    
    .log-command {
        font-style: italic;
        color: #289;
    }
}

.command-line-area {
    padding: 5px;
    position: fixed;
    height: 60px;
    background-color: #fff;
    border: 1px solid #ddd;
    z-index: 100;
}

.command-line-container {
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .prompt-text {
        flex: 0 0 auto;
        font-size: 1em;
        border: 1px solid #aaa;
        border-radius: 5px;
        padding: 5px;
        height: 15px;
        margin: 5px;
        background-color: #eee;
    }
    
    .command-line-buttons {
        flex: 0 0 auto;
        display: flex;
    }
    
    .button {
        flex: 0 0 auto;
        color: #fff;
        font-size: 1.1em;
        padding: 5px;
        border-radius: 5px;
        height: 15px;
        margin: 5px 5px 0 0;
        cursor: pointer;
    }
    
    .execute-button {
        background-color: mediumseagreen;
    }
    
    .backspace-button {
        background-color: orangered;
    }
    
    .command-line {
        flex-grow: 1;
        font-size: 1em;
        padding: 5px;
        height: 15px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        
        .command-line-word {
            &:not(:first-child) {
                margin-left: 3px;
            }
        }
        
        .word-type-action {
            color: $action-word-color;
        }
        
        .word-type-item {
            color: $item-color;
        }
        
        .word-type-environment {
            color: $environment-color;
        }
        
        &.empty {
            font-style: italic;
            color: #999;    
        }
    }
}

.inventory-container {
    // height: 200px;
    
    .inventory-item {
        color: $item-color;
        font-size: 1.1em;
        margin: 5px;
        border: 1px solid #eee;
        padding: 5px;
        display: inline-block;
        border-radius: 5px;
        cursor: pointer;
        
        &.inactive {
            color: #ccc;
        }
    }
}

.actions-container {
    // height: 200px;
    
    .actions-word {
        color: $action-word-color;
        font-size: 1.1em;
        margin: 5px;
        border: 1px solid #eee;
        padding: 5px;
        display: inline-block;
        border-radius: 5px;
        cursor: pointer;
        
        &.inactive {
            color: #ccc;
        }
    }
}
