$bg-color-1: #f6eee6;
$bg-color-2: #fff;

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: $bg-color-1;
    background-image: 
    radial-gradient(circle at 100% 150%, $bg-color-1 24%, $bg-color-2 25%, $bg-color-2 28%, $bg-color-1 29%, $bg-color-1 36%, $bg-color-2 36%, $bg-color-2 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $bg-color-1 24%, $bg-color-2 25%, $bg-color-2 28%, $bg-color-1 29%, $bg-color-1 36%, $bg-color-2 36%, $bg-color-2 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $bg-color-2 10%, $bg-color-1 11%, $bg-color-1 23%, $bg-color-2 24%, $bg-color-2 30%, $bg-color-1 31%, $bg-color-1 43%, $bg-color-2 44%, $bg-color-2 50%, $bg-color-1 51%, $bg-color-1 63%, $bg-color-2 64%, $bg-color-2 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $bg-color-2 5%, $bg-color-1 6%, $bg-color-1 15%, $bg-color-2 16%, $bg-color-2 20%, $bg-color-1 21%, $bg-color-1 30%, $bg-color-2 31%, $bg-color-2 35%, $bg-color-1 36%, $bg-color-1 45%, $bg-color-2 46%, $bg-color-2 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $bg-color-2 5%, $bg-color-1 6%, $bg-color-1 15%, $bg-color-2 16%, $bg-color-2 20%, $bg-color-1 21%, $bg-color-1 30%, $bg-color-2 31%, $bg-color-2 35%, $bg-color-1 36%, $bg-color-1 45%, $bg-color-2 46%, $bg-color-2 49%, transparent 50%, transparent);
    background-size: 70px 35px;
}

.main-container {
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 5px;
}

.container {
    border: 1px solid #999;
    border-radius: 10px;
    margin: 5px 0;
    background-color: #fff;
    
    .container-header {
        font-size: 16px;
        background-color: #4388A2;
        color: #fff;
        border-radius: 5px 5px 0 0;
        padding: 5px;
    }
}

.left-column {
    flex: 0 0 200px;
}

.right-column {
    flex: 0 0 200px;
}

.center-column {
    flex: 1 1 600px;
}

.description-container {
    flex: 1 0 350px;
    
    .description-content {
        margin: 5px;
    }
}

.command-container {
    flex: 1 0 50px;
}

.map-container {
    flex: 1 0 200px;
}

.inventory-container {
    flex: 1 0 200px;
    
    .inventory-item {
        margin: 5px;
    }
}

.keywords-container {
    flex: 1 0 400px;
    
    .keyword-command {
        margin: 5px;
    }
}