$bg-color-1: #f6eee6;
$bg-color-2: #fff;
$action-word-color: cornflowerblue;
$item-color: green;

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: $bg-color-1;
    background-image: 
    radial-gradient(circle at 100% 150%, $bg-color-1 24%, $bg-color-2 25%, $bg-color-2 28%, $bg-color-1 29%, $bg-color-1 36%, $bg-color-2 36%, $bg-color-2 40%, transparent 40%, transparent),
    radial-gradient(circle at 0    150%, $bg-color-1 24%, $bg-color-2 25%, $bg-color-2 28%, $bg-color-1 29%, $bg-color-1 36%, $bg-color-2 36%, $bg-color-2 40%, transparent 40%, transparent),
    radial-gradient(circle at 50%  100%, $bg-color-2 10%, $bg-color-1 11%, $bg-color-1 23%, $bg-color-2 24%, $bg-color-2 30%, $bg-color-1 31%, $bg-color-1 43%, $bg-color-2 44%, $bg-color-2 50%, $bg-color-1 51%, $bg-color-1 63%, $bg-color-2 64%, $bg-color-2 71%, transparent 71%, transparent),
    radial-gradient(circle at 100% 50%, $bg-color-2 5%, $bg-color-1 6%, $bg-color-1 15%, $bg-color-2 16%, $bg-color-2 20%, $bg-color-1 21%, $bg-color-1 30%, $bg-color-2 31%, $bg-color-2 35%, $bg-color-1 36%, $bg-color-1 45%, $bg-color-2 46%, $bg-color-2 49%, transparent 50%, transparent),
    radial-gradient(circle at 0    50%, $bg-color-2 5%, $bg-color-1 6%, $bg-color-1 15%, $bg-color-2 16%, $bg-color-2 20%, $bg-color-1 21%, $bg-color-1 30%, $bg-color-2 31%, $bg-color-2 35%, $bg-color-1 36%, $bg-color-1 45%, $bg-color-2 46%, $bg-color-2 49%, transparent 50%, transparent);
    background-size: 70px 35px;
}

.main-container {
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    margin: auto;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 5px;
}

.container {
    border: 1px solid #999;
    border-radius: 10px;
    margin: 5px 0;
    background-color: #fff;
    
    .container-header {
        font-size: 16px;
        background-color: #4388A2;
        color: #fff;
        border-radius: 5px 5px 0 0;
        padding: 5px;
    }
}

.left-column {
    flex: 0 0 200px;
}

.right-column {
    flex: 0 0 200px;
}

.center-column {
    flex: 1 1 600px;
}

.room-container {
    flex: 1 0 200px;
    
    .room-content {
        margin: 5px;
    }
}

.log-container {
    flex: 1 0 150px;
}

.command-line-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    .prompt-text {
        flex: 0 0 auto;
        border: 1px solid #aaa;
        padding: 5px;
        height: 15px;
        margin: 5px;
        background-color: #eee;
    }
    
    .execute-button {
        flex: 0 0 auto;
        background-color: mediumseagreen;
        color: #fff;
        font-size: 16px;
        padding: 5px;
        border-radius: 5px;
        height: 20px;
        margin: 3px 3px 0 0;
        cursor: pointer;
    }
    
    .command-line {
        flex-grow: 1;
        font-size: 14px;
        padding: 5px;
        height: 15px;
        margin: 5px;
        display: flex;
        flex-direction: row;
        
        .command-line-word {
            &:not(:first-child) {
                margin-left: 3px;
            }
        }
        
        .word-type-action {
            color: $action-word-color;
        }
        
        .word-type-item {
            color: $item-color;
        }
        
        &.empty {
            font-style: italic;
            color: #999;    
        }
    }
}

.map-container {
    flex: 1 0 200px;
}

.inventory-container {
    flex: 1 0 200px;
    
    .inventory-item {
        color: $item-color;
        font-size: 14px;
        margin: 5px;
        border: 1px solid #eee;
        padding: 5px;
        display: inline-block;
        border-radius: 5px;
        cursor: pointer;
    }
}

.actions-container {
    flex: 1 0 400px;
    
    .actions-word {
        color: $action-word-color;
        font-size: 14px;
        margin: 5px;
        border: 1px solid #eee;
        padding: 5px;
        display: inline-block;
        border-radius: 5px;
        cursor: pointer;
    }
}
